@use './styles/variables' as vars;
@use './styles/mixins' as mix;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  @include mix.container;
  flex: 1;
  padding-block: vars.$space-5;
}
